{% extends 'base.html' %}
{% load static %}
{% block title %}
Job Detail
{% endblock title %}

{% block content %}

{% if STATUS == 'ACTIVE' %}
<div class="job_details_area" style=" background: #f4f4f4;">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-8">
                <div class="job_details_header">
                    <div class="single_jobs white-bg d-flex justify-content-between">
                        <div class="jobs_left d-flex align-items-center">
                            <div class="thumb" style="margin-right: 30px; padding: 0px;     width: auto;height: auto;    margin-top: 14px;">
                                <img src="{% static 'img/svg_icon/logo.png'%}" alt="">
                            </div>
                            <div class="jobs_conetent">
                                <a href="#"><h4>{{ job.title }}</h4></a>
                                <div class="links_locat d-flex align-items-center">
                                    <div class="location">
                                        <p> <i class="fa fa-map-marker"></i> {{ job.location }}</p>
                                    </div>
                                    <div class="location">
                                        <p> <i class="fa fa-clock-o"></i>{{ job.nature }}</p>
                                        
                                
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="descript_wrap white-bg">
                    <div class="single_wrap">
                        {{ job.title.description|safe }}
                    </div>
                </div>
                <div class="apply_job_form white-bg">
                    <h4>Apply for the job</h4>

                        <div class="row">
                           
                            <div class="col-md-12">
                                <div class="submit_btn">
                                    {% if request.user.is_authenticated  %}
                                    {% if  user.userprofile.NID  and  user.userprofile.Phone_Num %}
                                    <button class="boxed-btn3 w-100" type="submit">Apply</button>

                                    {% elif user.userprofile.NID|length == 0 or user.userprofile.Experience_Years|length == 0 %}
                                    <!-- Button trigger modal -->
                                    <button type="button" class="boxed-btn3 w-100" data-toggle="modal" data-target="#exampleModalCenter">
                                        Apply
 
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header" >
                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h5 class="modal-title"  id="exampleModalLongTitle">إنشاء ملف شخصي </h5>
                                            </div>
                                            <div class="modal-body " style="text-align: right">
                                            .يجب إنشاء ملف شخصي مع مراعاة تعبئة جميع الحقول لكي تتمكن من من التقديم للوظيفة
                                            </div>
                                            <div class="modal-footer">
                                            <a class="btn btn-primary" href="{% url 'apps.userprofile:Profile' user.id %}" >إنشاء ملف شخصي </a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    {%endif%}
                                    {%else%}

                                    <!-- Button trigger modal -->
                                    <button type="button" class="boxed-btn3 w-100" data-toggle="modal" data-target="#exampleModalCenter">
                                        Apply
 
                                    </button>
                                    
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header" >
                                            
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                            <h5 class="modal-title"  id="exampleModalLongTitle">تسجيل الدخول </h5>
                                            </div>
                                            <div class="modal-body " style="text-align: right">
                                            .يجب تسجيل الدخول أو إنشاء حساب بالإضافة لملف شخصي لتتمكن من التقديم للوظيفة
                                            </div>
                                            <div class="modal-footer">
                                            <a class="btn btn-secondary" href="{% url 'apps.userauth:login'  %}" >دخول</a>
                                            <a class="btn btn-primary" href="{% url 'signup'  %}" >إنشاء حساب </a>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    {%endif%}
 
                                </div>
                            </div>
                        </div>
                    
                </div>
            </div>
            <div class="col-lg-4">
                <div class="job_sumary">
                    <div class="summery_header">
                        <h3>Job Summery</h3>
                    </div>
                    <div class="job_content">
                        <ul>
                            <li>Published on: <span> {{ job.post_date }}</span></li>
                            <li>Vacancy: <span>{{ job.vacancy }}</span></li>
                            <li>Salary: <span>{{ job.salary }}</span></li>
                            <li>Location: <span>{{ job.location }}</span></li>
                            <li>Job Nature: <span>{{ job.nature }}</span></li>
                        </ul>
                    </div>
                </div>


           
            </div>
        </div>
    </form>

</div>

{%else%}

<h1 style="text-align: center;">.هذه الوظيفة غير متاحة في الوقت الحالي</h1>

{%endif%}
{% endblock content %}